@import 'tailwindcss';

@plugin "tailwindcss-animate";
@plugin "tailwindcss-motion";

@layer base {
	body {
		@apply bg-[#faf6f4];
	}

	button {
		@apply cursor-pointer;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-Bold.woff2') format('woff2'),
			url('/fonts/HKGrotesk-Bold.woff') format('woff');
		font-weight: bold;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-BoldItalic.woff2') format('woff2'),
			url('/fonts/HKGrotesk-BoldItalic.woff') format('woff');
		font-weight: bold;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-Black.woff2') format('woff2'),
			url('/fonts/HKGrotesk-Black.woff') format('woff');
		font-weight: 900;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-BlackItalic.woff2') format('woff2'),
			url('/fonts/HKGrotesk-BlackItalic.woff') format('woff');
		font-weight: 900;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-ExtraBold.woff2') format('woff2'),
			url('/fonts/HKGrotesk-ExtraBold.woff') format('woff');
		font-weight: 800;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-ExtraBoldItalic.woff2') format('woff2'),
			url('/fonts/HKGrotesk-ExtraBoldItalic.woff') format('woff');
		font-weight: 800;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
			url('/fonts/HKGrotesk-SemiBold.woff') format('woff');
		font-weight: 600;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
			url('/fonts/HKGrotesk-SemiBoldItalic.woff') format('woff');
		font-weight: 600;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-Regular.woff2') format('woff2'),
			url('/fonts/HKGrotesk-Regular.woff') format('woff');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-Italic.woff2') format('woff2'),
			url('/fonts/HKGrotesk-Italic.woff') format('woff');
		font-weight: normal;
		font-style: italic;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-Medium.woff2') format('woff2'),
			url('/fonts/HKGrotesk-Medium.woff') format('woff');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'HK Grotesk';
		src:
			url('/fonts/HKGrotesk-MediumItalic.woff2') format('woff2'),
			url('/fonts/HKGrotesk-MediumItalic.woff') format('woff');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	}
}

@theme {
	--font-sans: 'HK Grotesk', sans-serif;
	--font-serif: 'Iowan Old Style', serif;
	--font-mono: 'Menlo', monospace;

	--color-toast-50: #fff6df;
	--color-toast-100: #fdf7f1;
	--color-toast-200: #f8eedb;
	--color-toast-300: #ebbf99;
	--color-toast-400: #dea373;
	--color-toast-500: #ce864f;
	--color-toast-600: #a1724e;
	--color-toast-700: #8c501c;
	--color-toast-800: #5c340f;
	--color-toast-900: #482307;
}
